*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Noto Sans", serif;
    background-size: cover;
    background-color: rgb(57, 235, 247);
}
.form-container{
    padding: 10px;
    margin-top: 35px;
}
.form-container h1{
    margin: 10px;
    text-align: center;
    margin-top: 0;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form input{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px 20px 20px;
    width: 85%;
    font-size: medium;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.form label{
    margin: 30px 20px 0;
}
.form textarea{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px 20px 20px;
    width: 85%;
    font-size: medium;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.submit{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px 20px 20px;
    width: 90%;
    align-items: center;
    font-size: medium;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background-color: rgb(57, 235, 247);
}
fieldset{
    width: 30%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border: none;
    border-radius: 15px;
    padding: 20px;
    background-color: white;
}
